<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angiospermas</title>
</head>
<body>
<h1> Lista de Angiospermas</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Familia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Louro</td>
                    <td>louro familia</td>
                </tr>
                <tr>
                    <td>Broccoli</td>
                    <td>broccoli familia</td>
                </tr>
            </tbody>
        </table>
</body>
</html>