{% extends 'base.html' %}

{% block titulo %}
    Produtos
{% endblock %}

{% block conteudo %}
<h1>Lista de plantas (geral)</h1>
        <table border="1">
            <thead>
                <tr>Descrição</tr>
                <tr>Família</tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mesa de Jantar</td>
                    <td>R$ 3.200</td>
                </tr>
                <tr>
                    <td>Iphone</td>
                    <td>R$ 1.200</td>
                </tr>
            </tbody>
        </table>
{% endblock %}