<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Pessoas</title>
</head>
<body>
<h1> Lista de Pessoas</h1>

<table border="1">
    <thead>
        <tr>
            <th> Nome</th>
            <th> Plantas Registradas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> Luana Hilbert</td>
            <td> Louro</td>
        </tr>
        <tr>
            <td> Lucas Medina</td>
            <td> Alface</td>
        </tr>
        <tr>
            <td> Eric Cartman</td>
            <td> Grama</td>
        </tr>
    </tbody>
</table>
</body>
</html>