<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Pessoas</title>
</head>
<body>
<h1> Lista de Pessoas</h1>

<table border="1">
    <thead>
        <tr>
            <th> Nome</th>
            <th> Plantas Registradas</th>
        </tr>
    </thead>
    <tbody>
    {% for cliente in clientes %}

        <tr>
            <td> {{cliente.nome|upper}}</td>
            <td> {{cliente.qtde_reg}}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<p> Ultimo acesso: {{ultimo_acesso}}</p>

{% if idade < 12 %}
    <p>Criança</p>
{% elif idade >= 12 and idade <= 18 %}
    <p>Adolescente</p>
{% else %}
    <p>Adulto</p>
{% endif %}

<p> Total de clientes: {{clientes|length}}</p>
{{tipo}}
</body>
</html>